@import 'mixins'

.btn
  +btn
  +transition
  text-decoration: none
  &:hover
    background: #d9d9d9
    cursor: pointer

#calendar_container
  width: 1260px
  margin: 0 auto
  #previous
    float: left
    width: 40px
    line-height: 180px
    margin: 60px 0px 0px 0px
  p.heading
    text-align: center
    font-size: 27px
    +title-ff
  p#month
    margin-right: 42px
  p#month.n_month
    margin-right: 0
  table
    margin: 0 10px
    width: 1150px
    float: left
    margin-bottom: 20px
    tr
      vertical-align: top
      height: 200px
      td.day
        height: auto
        min-width: 120px
        margin-left: 6px
        padding: 3px
        background: #f2f2f2
        +border-radius(5px)
        +box-shadow
        border: 1px solid
        border-color: #e5e5e5 #dbdbdb #d2d2d2
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        +transition
        &:hover
          #background: #e0e0e0
        #datebox
          margin: 2px 5px
          height: 100%
          width: 100%
          position: relative
        .date
          float: left
          top: 0
          left: 2px
          font-size: 11px
          padding: 3px
          border: 1px solid #C4C4C4
          margin-right: 4px
          +border-radius(4px)
        ul
          padding: 0
          clear: both
          list-style-type: none
          margin: 5px 10px 0px
          li
            padding: 2px 0px
      a.event
        text-decoration: none
        text-align: center
        font-size: 14px
        &:hover
          text-decoration: underline
          //background: yellow
          +transition
  #next
    float: left
    width: 40px
    line-height: 180px
  #rando
    width: 100%
    clear: both
    text-align: center
    a
      margin: 0 auto
