@import 'mixins'

#main h2
  margin-bottom: 45px
#categories
  width: 615px
  margin: 30px auto 0
  ul
    overflow: hidden
    margin: 20px 0
    li
      position: relative
      margin: 0 10px
      height: 180px
      width: 180px
      float: left
      text-align: center
      +box-shadow
      +border-radius(5px)
    a
      width: 100%
      height: 100%
      display: block
      position: relative
      font-size: 18px
      font-weight: strong
      z-index: 8
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
      color: white
      line-height: 17.5
      text-shadow: 2px 3px 3px black
      &:hover
        text-decoration: underline
      .background
        background: #bdbdbd
        opacity: 0.6
        width: 100%
        height: 40px
        bottom: 0
        z-index: -1
        position: absolute
        +border-bottom-right-radius(5px)
        +border-bottom-left-radius(5px)
