@import url(http://fonts.googleapis.com/css?family=Chewy)

=title-ff
  font-family: 'Chewy', "Helvetica Neue", Helvetica, sans

body
  h1
    +title-ff
    font-size: 4em
    color: black
    margin: 0 auto
  #categories
    ul
      li
        +title-ff
        font-size: 2.0em
        list-style-type: none
        display: inline
        text-decoration: none
        padding:
          right: 20px
        a
          text-decoration: none
          background: none
          &:hover
            color: black
  #main
    margin: 0 auto
    max-width: 90%
    min-width: 50%
    padding: 20px 0
    ul.categories
      float: left
