@import url(http://fonts.googleapis.com/css?family=Chewy)
@import 'mixins'

a
  text-decoration: none
  color: #CC0000

body
  h1
    text-align: center
    a
      +title-ff
      font-size: 2em
      color: #CC0000
  h2
    +title-ff
    font-size: 2em
  #sitemap
    margin-top: 10px
    text-align: center
    a:hover
      text-decoration: underline
    ul
      li
        +title-ff
        font-size: 2.0em
        list-style-type: none
        display: inline
        text-decoration: none
        padding:
          right: 20px
        a
          text-decoration: none
          background: none
  #main
    width: 100%
    padding: 20px 0
    float: left
    ul#sort
      li
        display: inline
        list-style-type: none
        text-decoration: none
        font-size: 2.0em
        margin-right: 25px
    #facility
      width: 820px
      margin: 0 auto
      ul#facilities
        list-style-type: none
        text-align: center
        li
          display: block
          float: left
          width: 140px
          height: 140px
          +transition
          +border-radius(6px)
          background: #f2f2f2
          border: 1px solid #a6b5c3 
          margin: 0 7px 5px
          &:hover
            background: #d9d9d9
          a
            width: 100%
            display: block
            height: 100%
            padding-top: 55px
      #f_attributes
        float: left
        width: 50%
      #event_wrapper
        float: right
        margin-top: 40px
        width: 50%

