@import url(http://fonts.googleapis.com/css?family=Chewy)
@import 'mixins'

a
  text-decoration: none
  color: #CC0000

body
  h1
    text-align: center
    a
      +title-ff
      font-size: 2em
      color: #CC0000
  h2
    +title-ff
    font-size: 2em
  #sitemap
    margin-top: 10px
    text-align: center
    a:hover
      text-decoration: underline
    ul
      li
        +title-ff
        font-size: 2.0em
        list-style-type: none
        display: inline
        text-decoration: none
        padding:
          right: 20px
        a
          text-decoration: none
          background: none
  #main
    width: 100%
    float: left
    margin-top: -20px
    ul#sort
      li
        display: inline
        list-style-type: none
        text-decoration: none
        font-size: 2.0em
        margin-right: 25px
    #event
      width: 600px
      margin: 10px auto 0
      overflow: hidden
      h2
        margin-bottom: 0
        float: left
      #time
        clear: both
        h3
          float: left
          padding-right: 4px
      #attributes
        float: left
        width: 100%
        ul
          list-style-type: none
          text-align: center
          margin: 0 auto
          overflow: hidden
          li
            display: block
            float: left
            width: 140px
            height: 140px
            +transition
            +border-radius(6px)
            background: #f2f2f2
            border: 1px solid #a6b5c3 
            margin: 0 7px 5px
            &:hover
              background: #d9d9d9
            a
              width: 100%
              display: block
              height: 100%
              padding-top: 45px
            span
              width: 100%
              display: block
              padding-top: 25px
      p
        float: left
    #facility
      width: 820px
      margin: 40px auto 0
      ul#facilities
        list-style-type: none
        text-align: center
        .darken
          background-color: #444
          width: 140px
          height: 140px
          float: left
          margin: 0 7px 5px
          +border-radius(6px)
          li
            display: block
            float: left
            width: 140px
            height: 140px
            +transition
            +border-radius(6px)
            background-position: center center
            background-color: #f2f2f2
            border: 1px solid #a6b5c3 
            margin: 0 7px 5px -1px
            &:hover
              opacity: 0.6
              filter: alpha(opacity=60)
            a
              width: 100%
              display: block
              height: 100%
              padding-top: 55px
              font-size: 18px
              font-weight: strong
              color: black
              &.shadow
                color: white
                text-shadow: 2px 3px 3px black
                &:hover
                  font-size: 23px
      #f_attributes
        float: left
        width: 50%
      #event_wrapper
        float: right
        margin-top: 40px
        width: 50%

