.btn {
  background: #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #a6b5c3;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", arial, sans;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 8px 10px;
  text-align: center;
  width: 500px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  text-decoration: none; }
  .btn:hover {
    background: #d9d9d9;
    cursor: pointer; }

#calendar_container {
  width: 1260px;
  margin: 0 auto;
  overflow: hidden; }
  #calendar_container #month {
    width: 33%;
    text-align: center;
    margin: 0 auto 15px;
    overflow: hidden; }
    #calendar_container #month p {
      float: left;
      width: 387px;
      margin: 0 !important;
      padding: 0 !important; }
  #calendar_container #prev_month {
    float: left;
    margin-top: 7px; }
  #calendar_container #next_month {
    margin-top: 7px;
    float: left; }
  #calendar_container #previous {
    float: left;
    width: 40px;
    line-height: 180px;
    margin: -15px 0px 0px 0px; }
  #calendar_container p.heading {
    text-align: center;
    font-size: 27px;
    font-family: "Kreon", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 15px; }
  #calendar_container p#month {
    margin-right: 42px; }
  #calendar_container p#month.n_month {
    margin-right: 0; }
  #calendar_container #week {
    float: left; }
  #calendar_container table {
    margin: 0 10px 20px 10px;
    width: 1150px;
    float: left; }
    #calendar_container table tr {
      vertical-align: top;
      height: 200px; }
      #calendar_container table tr td.day {
        width: 14.286%;
        padding: 3px;
        background: #f2f2f2;
        border-color: #d2d2d2;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-box-shadow: rgba(0, 0, 0, 0.398) 0 1px 1px;
        moz-box-shadow: rgba(0, 0, 0, 0.398) 0 0 1px;
        box-shadow: rgba(0, 0, 0, 0.398) 0 0 1px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out; }
        #calendar_container table tr td.day:hover {
          #background: #e0e0e0; }
        #calendar_container table tr td.day #datebox {
          margin: 2px 5px;
          height: 100%;
          width: 100%;
          position: relative; }
          #calendar_container table tr td.day #datebox .day {
            margin-left: 24px; }
          #calendar_container table tr td.day #datebox .date {
            float: left;
            top: 0;
            left: 2px;
            font-size: 11px;
            padding: 2px;
            border: 1px solid #c4c4c4;
            margin-right: 6px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px; }
        #calendar_container table tr td.day ul {
          padding: 0;
          margin: 5px 10px 0px 5px; }
          #calendar_container table tr td.day ul li {
            padding: 4px 0px; }
          #calendar_container table tr td.day ul #popup {
            width: 140px;
            height: 140px;
            margin: -10px -10px 0 0;
            display: none; }
            #calendar_container table tr td.day ul #popup #event_name {
              font-weight: strong;
              font-size: 14px; }
      #calendar_container table tr a.event {
        text-align: center;
        font-size: 13px; }
        #calendar_container table tr a.event span.start_time {
          color: #b3b3b3; }
        #calendar_container table tr a.event:hover span.start_time {
          color: #595959;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out; }
  #calendar_container #next {
    float: left;
    width: 40px;
    line-height: 180px; }
  #calendar_container #rando {
    width: 100%;
    clear: both;
    text-align: center; }
    #calendar_container #rando a {
      margin: 0 auto; }
