#calendar_container {
  float: left; }
  #calendar_container table {
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    float: left; }
    #calendar_container table tr {
      padding: 10px 0px;
      margin: 10px; }
      #calendar_container table tr td.day {
        border: 1px solid #e6e6e6;
        padding: 10px;
        height: 120px;
        background-color: white;
        background-image: -moz-linear-gradient(100% 100% 90deg, #f2f2f2, white);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f2f2f2));
        width: 10%; }
        #calendar_container table tr td.day #datebox {
          position: relative;
          height: 100%;
          width: 100%; }
          #calendar_container table tr td.day #datebox .date {
            position: absolute;
            top: 0;
            left: 0; }
          #calendar_container table tr td.day #datebox a.event {
            position: static;
            text-decoration: none; }
        #calendar_container table tr td.day ul {
          list-style-type: none;
          float: left; }
  #calendar_container #next_month a {
    float: left; }
