@import url(http://fonts.googleapis.com/css?family=Kreon:light,regular,bold);
@import url(http://fonts.googleapis.com/css?family=Chewy);
#main h2 {
  margin-bottom: 45px; }

#categories {
  width: 615px;
  margin: 30px auto 0; }
  #categories ul {
    overflow: hidden;
    margin: 20px 0; }
    #categories ul li {
      position: relative;
      margin: 0 10px;
      height: 180px;
      width: 180px;
      float: left;
      text-align: center;
      -webkit-box-shadow: rgba(0, 0, 0, 0.398) 0 1px 1px;
      moz-box-shadow: rgba(0, 0, 0, 0.398) 0 0 1px;
      box-shadow: rgba(0, 0, 0, 0.398) 0 0 1px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    #categories ul a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      font-size: 18px;
      font-weight: strong;
      z-index: 8;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      line-height: 17.5;
      text-shadow: 2px 3px 3px black; }
      #categories ul a:hover {
        text-decoration: underline; }
      #categories ul a .background {
        background: #bdbdbd;
        opacity: 0.6;
        width: 100%;
        height: 40px;
        bottom: 0;
        z-index: -1;
        position: absolute;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-left-radius: 5px; }
