#main h2 {
  margin-bottom: 45px; }

#category_list {
  float: left;
  display: inline;
  overflow: hidden;
  width: 100%; }
  #category_list ul.categories {
    list-style: none;
    position: relative;
    text-align: center; }
    #category_list ul.categories li.category {
      display: block;
      float: left;
      width: 185px;
      height: 185px;
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #f2f2f2;
      border: 1px solid #a6b5c3;
      margin: 0 7px; }
      #category_list ul.categories li.category:hover {
        background: #d9d9d9; }
      #category_list ul.categories li.category a {
        margin: 0;
        width: 100%;
        display: block;
        height: 100%;
        line-height: 185px; }

#category_div {
  width: 900px;
  margin: 0 auto; }
