@import url(http://fonts.googleapis.com/css?family=Chewy);
a {
  text-decoration: none;
  color: #cc0000; }

body h1 {
  text-align: center; }
  body h1 a {
    font-family: "Chewy", "Helvetica Neue", Helvetica, sans;
    font-size: 2em;
    color: #cc0000; }
body h2 {
  font-family: "Chewy", "Helvetica Neue", Helvetica, sans;
  font-size: 2em; }
body #sitemap {
  margin-top: 10px;
  text-align: center; }
  body #sitemap a:hover {
    text-decoration: underline; }
  body #sitemap ul li {
    font-family: "Chewy", "Helvetica Neue", Helvetica, sans;
    font-size: 2em;
    list-style-type: none;
    display: inline;
    text-decoration: none;
    padding-right: 20px; }
    body #sitemap ul li a {
      text-decoration: none;
      background: none; }
body #main {
  width: 100%;
  padding: 20px 0;
  float: left; }
  body #main ul#sort li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    font-size: 2em;
    margin-right: 25px; }
  body #main #facility {
    width: 960px;
    margin: 0 auto; }
    body #main #facility #f_attributes {
      float: left;
      width: 50%; }
    body #main #facility #event_wrapper {
      float: right;
      margin-top: 40px;
      width: 50%; }
