@import url(http://fonts.googleapis.com/css?family=Chewy);
a {
  text-decoration: none;
  color: #cc0000; }

body h1 a {
  font-family: "Chewy", "Helvetica Neue", Helvetica, sans;
  font-size: 2em;
  color: #cc0000;
  float: left; }
body h2 {
  font-family: "Chewy", "Helvetica Neue", Helvetica, sans;
  font-size: 2em; }
body #categories {
  float: left;
  margin-top: 10px; }
  body #categories ul li {
    font-family: "Chewy", "Helvetica Neue", Helvetica, sans;
    font-size: 2em;
    list-style-type: none;
    display: inline;
    text-decoration: none;
    padding-right: 20px; }
    body #categories ul li a {
      text-decoration: none;
      background: none; }
body #main {
  width: 100%;
  overflow: hidden;
  padding: 20px 0; }
  body #main ul#sort li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    font-size: 2em;
    margin-right: 25px; }
