#facility
  - @facilities.each do |facility|
    %ul#facilities
      - unless facility.image.nil?
        %li{:style => "background-image: url(#{image_path "logos/#{facility.image}.png"})"}
          %a{:href => facility_path(facility), :class => "shadow"}
            = facility.name
            %span.background
      - else
        %li= link_to facility.name, facility_path(facility)
