#facility
  %ul#facilities
    - @facilities.each do |facility|
      - unless facility.image.nil?
        %li{:style => "background-image: url(#{image_path "logos/#{facility.image}.png"})",
            :class => "image"}
          %a{:href => facility_path(facility), :class => "shadow"}
            = facility.name
            %span.background
      - else
        %li= link_to facility.name, facility_path(facility)
