%div#main{:data => {:role => "content"}}
  %ul#facilities{:data => {:role => "listview", :inset => "true", :filter => "true"}}
    - @facilities.each do |facility|
      %li
        = link_to facility.name, facility_path(facility)




