%div#day_header{:data => {:role => "header", :backbtn => "false"}}
  %a#m_previous{:data => {:direction => "reverse"}}
    = (@today - 1.days).strftime "%A"
  %h1= ordinalize_date @today
  %a#m_next{:data => {:direction => "forward"}}= (@today + 1.days).strftime("%A")

%div#main{:data => {:role => "content", :message => @mobile_marker}}
  %ul#categories{:data => {:role => "listview", :theme => "b", :inset => "true"}}
    - @categories.each do |category|
      - unless (Event.categories_day category, @today).empty?
        %li{:data => {:role => "list-divider", :theme => "a"}, 
        :role => {"" => "heading"}}
          = category
        - (Event.categories_day category, @today).each do |event|
          %li{:data => {:theme => "c"}}= link_to event.name, event_path(event)

