- content_for :head do
  = javascript_include_tag 'shiftcal'

%div#calendar_container
  %div#previous_month
  %table
    %thead
      - day = 0
        %tr.week 
          - unless day >= @marker
          - 7.times do
            %td.day
              #datebox
                .date= day += 1
                %ul
                  - @months_events.select { |e| e.date.day == day }.each do |event|
                    %li= link_to event.name
  %div#next_month

-#
-#
-#  - @events.each do |event|
-#    %tr
-#      %td= link_to 'Show', event
-#      %td= link_to 'Edit', edit_event_path(event)
-#      %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete
-#
-#%br
-#
-#= link_to 'New Event', new_event_path
