%div#calendar_container
  %div#previous
    = link_to "<<", '#', :class => 'btn'
  = render :partial => 'week_box'
  %div#next
    = link_to ">>", '#', :class => 'btn'
  %div#rando= link_to "Give me something to do", 
    "#", 
    :class => 'btn',
    "data-message" => @count
