- if @category == 'Bar Special'
  - @weekly_recurring.each do |category|
    %li= link_to category.name, event_path(category)
- else 
  - @events.each do |event|
    %li= link_to event.name, event_path(event)
