#categories
  - @categories.each_slice(3) do |cat|
    %ul.categories
      - cat.each do |category|
        %li.category{:style => "background-image: url(#{image_path "categories/#{category_image(category)}.png"})"}
          %a{:href => category_path(category), :class => "shadow"}
            = category
            .background
